<!-- -*- mode:xml; tab-width:2; c-basic-offset:2; intent-tabs-mode:nil; -*- ex: set tabstop=2 expandtab: -->
<settings>
  <setting propertyKey="@Properties.userLocationAuto" title="@Strings.titleLocationAuto" prompt="@Strings.helpLocationAuto" >
    <settingConfig type="boolean" />
  </setting>
  <setting propertyKey="@Properties.userLocationHeight" title="@Strings.titleLocationHeight" prompt="@Strings.helpLocationHeight" >
    <settingConfig type="numeric" min="0" max="9999" required="true" />
  </setting>
  <setting propertyKey="@Properties.userDateAuto" title="@Strings.titleDateAuto" prompt="@Strings.helpDateAuto" >
    <settingConfig type="boolean" />
  </setting>
  <setting propertyKey="@Properties.userTimeUTC" title="@Strings.titleTimeUTC" prompt="@Strings.helpTimeUTC" >
    <settingConfig type="boolean" />
  </setting>
  <setting propertyKey="@Properties.userBackgroundColor" title="@Strings.titleBackgroundColor" prompt="@Strings.helpBackgroundColor" >
    <settingConfig type="list" required="true" >
      <listEntry value="16777215">@Strings.valueColorWhite</listEntry>
      <listEntry value="0">@Strings.valueColorBlack</listEntry>
    </settingConfig>
  </setting>
</settings>
